.profile-menu {
    border: 1px solid black;
    margin-top: 5px;
    width: 250px;
    height: 250px;
    padding-left: 10px;
    border-radius: 5px;
}

.link-default-style {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.icon-default-style {
    width: 50;
    height: 25;
    padding-top: 5;
}