.header-bar {
    display: flex;
    justify-content: space-between;
}

.account-box {
    padding-top: 12px;
    cursor: pointer;
}

.icon-profile {
    border: red solid 1px;
    padding-left: 770px;
}

.options-profile {
    padding-right: 770px !important;
}

.header-bar-principal {
    background-color: black;
    height: 50px;
}

.header-bar-info {
    display: flex;
    justify-content: flex-end;
}