.header-bar {
    display: flex;
    justify-content: space-between;
}

.account-box {
    padding-top: 12px;
    cursor: pointer;
}

.icon-profile {
    border: red solid 1px;
    padding-left: 770px;
}

.options-profile {
    padding-right: 770px !important;
}

.header-bar-info {
    display: flex;
    justify-content: flex-end;
}

:where(.css-dev-only-do-not-override-nnuwmp).ant-menu-dark.ant-menu-horizontal >.ant-menu-item-selected, :where(.css-dev-only-do-not-override-nnuwmp).ant-menu-dark>.ant-menu.ant-menu-horizontal >.ant-menu-item-selected, :where(.css-dev-only-do-not-override-nnuwmp).ant-menu-dark.ant-menu-horizontal >.ant-menu-submenu-selected, :where(.css-dev-only-do-not-override-nnuwmp).ant-menu-dark>.ant-menu.ant-menu-horizontal >.ant-menu-submenu-selected  {
    background-color: white;
}

:where(.css-dev-only-do-not-override-nnuwmp).ant-menu-dark.ant-menu-horizontal >.ant-menu-item-selected:hover, :where(.css-dev-only-do-not-override-nnuwmp).ant-menu-dark>.ant-menu.ant-menu-horizontal >.ant-menu-item-selected:hover, :where(.css-dev-only-do-not-override-nnuwmp).ant-menu-dark.ant-menu-horizontal >.ant-menu-submenu-selected:hover, :where(.css-dev-only-do-not-override-nnuwmp).ant-menu-dark>.ant-menu.ant-menu-horizontal >.ant-menu-submenu-selected:hover {
    background-color: white;
}

:where(.css-dev-only-do-not-override-nnuwmp).ant-menu-dark .ant-menu-item-selected a, :where(.css-dev-only-do-not-override-nnuwmp).ant-menu-dark>.ant-menu .ant-menu-item-selected a, :where(.css-dev-only-do-not-override-nnuwmp).ant-menu-dark .ant-menu-item-selected a:hover, :where(.css-dev-only-do-not-override-nnuwmp).ant-menu-dark>.ant-menu .ant-menu-item-selected a:hover {
    background-color: black;
}

:where(.css-dev-only-do-not-override-nnuwmp).ant-menu-dark .ant-menu-item-selected, :where(.css-dev-only-do-not-override-nnuwmp).ant-menu-dark>.ant-menu .ant-menu-item-selected {
    background-color: black;
}

.remove-arrow .ant-select-arrow {
    display: none;
}